
body{
background: linear-gradient(180deg, #84d3f1 0%, #4daecb 100%);
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2a2e35;
}
h2{
  font-family: "Baloo 2", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    background: linear-gradient(180deg, #fd9f3b 0%, #f65c52 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 28px;
}
h3{
  font-family: "Baloo 2", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    color: #2a2e35;
    margin-bottom: 24px;
}