.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 800px;
}
.home-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
    margin-top: 115px;
}
@media only screen and (min-width: 1440px) {
.home-section {
        background-image: url("/img/home/desk.png");
height: 823px;
}
.home-wrapper {
width: 546px;
    gap: 36px;
    margin-top: 140px;
}
}
/* About the Game */
.span{
font-weight: 700;
}
@media only screen and (min-width: 1440px) {
 .about-container{
    position: relative;
    padding-left: 188px;
    padding-bottom: 280px;
 }
 .about-container h2,
 .about-container h3{
    text-align: left;
 }
 .about-text{
    width: 522px;    
 }
 .about-img{
    position: absolute;
    top: 12%;
    right: 12%;
 }
}
/* How to Play */
.how-section{
    background: #f9e9cf;
}
.how-container{
    padding-top: 24px;
    padding-bottom: 36px;
}
.how-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}
.how-item{
    border-radius: 40px;
        padding: 16px;
        width: 335px;
        height: 80px;
border: 1px solid #fd9f3b;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}
@media only screen and (min-width: 1440px) {
.how-section{
    background-image: url("/img/how/back.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 792px;
}
.how-container h3{
margin-bottom: 16px;
}
.how-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.how-container{
    padding-top: 20px;
}
.how-list{
    width: 714px;
    background-image: url("/img/how/depositphotos.png");
    background-repeat: no-repeat;
    background-size: 181px 190px;
    background-position: top 42% left 58%;
    gap: 171px;    
    row-gap: 48px;

    flex-direction: row;
  flex-wrap: wrap;  
  justify-content: center;
}
.how-item{
        width: 315px;
        height: 56px;
}
.h1{
    order: 1;
}
.h2{
   width: 218px;  
   
    order: 3;
}
.h3{
   width: 307px; 
order: 2px;
}
.h4{
order:4;
width: 280px;
}
.h5{
order: 5;
width: 240px;
}
.h6{
order: 6;
width: 520px;
}
}
/* Features */
.features-section{
    background-image: url("/img/features/mob.png");
    background-repeat: no-repeat;
    background-position: top 200px center;
    background-size: contain;
}
.features-list{
    margin-top: 190px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.features-item{
    display: flex;
    align-items: center;
    gap: 8px;
}
@media only screen and (min-width: 1440px) {
.features-section {
        background-image: url("/img/features/desk.png");
        background-repeat: no-repeat;
        background-position: top 280px center;
        background-size: 1280px 383px;
    }
.features-container{
    padding-top: 150px;
    padding-bottom: 243px;
}
.features-list{
    margin-top: 24px;
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    height: 116px;
    column-gap: 460px;
}
.features-item{
width: 299px;
}
}
/* Visual Gallery */
.gallery-swiper,
.reviews-swiper {
    overflow: hidden;
}
.btn-gallery{
    display: none;
}
@media only screen and (min-width: 1440px) {
 .gallery-container{
    padding-top: 150px;
 }
 .btn-gallery{
    margin-top: 28px;
    display: flex;
    justify-content: center;
    gap: 20px;
 }
 .btn{
    background-color: inherit;
    border: none;
 }
}
/* Player Reviews */
.reviews-section{
background: #f9e9cf;
}
.reviews-container{
    padding-top: 24px;
    padding-bottom: 36px;
}
.reviews-swiper .swiper-slide{
    border-radius: 40px;
        padding: 22px 28px;
border: 1px solid #fd9f3b;
display: flex;
flex-direction: column;
align-items: start;
}
.reviews-text{
    margin-top: 16px;
    min-height: 48px;
}
.author-wrapper{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.avatar-img{
    width: 72px;
    height: 72px;
}
.author{
    font-family: "Baloo 2", sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.5;
        background: linear-gradient(180deg, #fd9f3b 0%, #f65c52 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
@media only screen and (min-width: 1440px) {
.reviews-swiper .swiper-wrapper{
    width: 1279px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.reviews-swiper .swiper-slide{
    width: 413px;
        height: 206px;
}
}
/* FAQ */
.faq-container {
    padding-left: 1px;
    padding-right: 1px;
}
.faq-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.faq-acc {
    display: flex;
    flex-direction: column;
    width: 335px;
    margin: 0 auto;
    gap: 12px;

}

.faq-acc-el {
    position: relative;
    transition: margin-bottom 0.3s ease;
    border: none;
    border-bottom: 1px solid #fd9f3b;
}

.faq-acc-el-title {
    margin-bottom: 0;
}

.faq-acc-el-trigger {
    border: none;
    background:inherit;
    width: 335px;
    height: auto;
font-family: "Baloo 2", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    color: #fd3b3b;
    padding: 4px 16px;
    margin-bottom: 0;
    cursor: pointer;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


.faq-acc-arr {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    transition: transform 0.3s ease;
    border: none;
    background-color: inherit;
    border-radius: 100%;
}

.faq-acc-arr.is-hidden {
    display: none;
}

.faq-acc-el.open .faq-acc-arr {
    transform: rotate(30deg);
}

.faq-acc-el-descr-frame {
    background: inherit;
    width: 335px;
    text-align: left;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease, border-bottom 0.3s ease;
}

.faq-acc-el.js-enabled .faq-acc-el-descr-frame {
    visibility: hidden;
}



.faq-acc-el.open .faq-acc-el-descr-frame {
    visibility: visible;
    opacity: 1;
    border: none;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    color: #333;
    padding: 4px 16px;
    background: inherit;
    width: 335px;
    max-height: 500px;

}

@media only screen and (min-width: 1440px) {
.faq-wrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
    .faq-acc {
    width: 630px;
        margin: 0 auto;
        gap: 16px;
    }

    .faq-acc-el-trigger {
    width: 630px;
    font-size: 20px;
    }

    .faq-acc-el-descr-frame {
    width: 630px;
    }

    .faq-acc-el.open .faq-acc-el-descr-frame {
    width: 630px;
    }

    .faq-container {
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 150px;
    }
    .mob{
        display: none;
    }
}
/* Contact */
.contact-container{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-link{
    border: 1px solid #fd9f3b;
    margin-top: 18px;
    border-radius: 40px;
        padding: 16px 14px;
        width: 296px;
        height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Baloo 2", sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.5;
        color: #2a2e35;
}
@media only screen and (min-width: 1440px) {
 .contact-container{
    padding-top: 150px;
    padding-bottom: 150px;
 }
}